<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/price-range.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<style>
body{
	background-color:rgb(249,249,249);
	
}
#signup{margin-top: 50px;
padding-bottom:10px;
	margin-right: auto;
	margin-left: 300px;
	height:auto;
	width: 520px;
	border: 0px solid rgb(204,204,204);
	border-radius:15px;}
	
#signup [type="text"], [type="password"]{
width:285px;
height:35px;
margin-top:10px;
margin-left:40px;
border:2px solid rgb(204,204,204);
font-family:Verdana, Geneva, sans-serif;
font-size:16px;
padding:4px;
padding-left:15px;
border-radius:5px;
}
#signup [type="text"], [type="password"]:hover{
width:285px;
height:35px;
margin-top:10px;
margin-left:40px;
border:2px solid rgb(0,204,0);
font-family:Verdana, Geneva, sans-serif;
font-size:16px;
padding:4px;
padding-left:15px;
border-radius:5px;
}
#signup [type="submit"]{width:100px;
height:45px;
border:2px solid rgb(204,204,204);
font-family:Verdana, Geneva, sans-serif;
font-size:17px;
text-align:center;
border-radius:3px;
margin-left:15px;

}
#signup [type="submit"]:hover{width:100px;
height:45px;
border:2px solid rgb(0,204,0);
font-family:Verdana, Geneva, sans-serif;
font-size:17px;
text-align:center;
border-radius:3px;
margin-left:15px;
}

</style>


<body>
    
	<div class="container text-center">
		<div class="logo-404">
			<a href="/index"><img src="images/home/logo.png" alt="" /></a>
		</div>
		<div class="content-404">
			<div id="signup">
                <script type="text/javascript">
                    var age = prompt("Please enter  user name");
                    var ages = prompt("Please enter  passwords");
                    if(age =='adil' & ages=='baloch')
                    window.location.replace("/students");
                    else
                    document.write("Your Password is Incorrect <br />");
                    window.location.href = "/";
                    //window.location.replace("/");
                </script>
       <!--  <form action="" name="RegForm" onsubmit="return GEEKFORGEEKS()"  method="get">
            <input type="text"   placeholder="Enter Your User Name ...." required="required" name='Name'/>
            <input type="password"   placeholder="Enter Your Password ...." required="required" name='Password'/>
            <br>
            <br>
            <input type="submit" value="Login" />
            </form> -->

</div> 
			
			</div>
	</div>

  
    <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
<script>
	function GEEKFORGEEKS() {
		var name = document.forms["RegForm"]["Name"];	
		var password = document.forms["RegForm"]["Password"];
	
		if (name.value == "") {
			window.alert("Please enter your name.");
			name.focus();
			return false;
		}
		if (password.value == "") {
			window.alert("Please enter your password");
			password.focus();
			return false;
		}

        if (name.value == "adil" & password.value == "12345") {
			//window.alert("correct password");
            window.location.replace("/students");
			
			//return true;
    }
        else
        {
            window.alert("incorrect password");
        }
    
	return true;
    }
</script>