<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Category</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            Laptop
                        </a>
                    </h4>
                </div>
                <div id="sportswear" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="/del">Dell </a></li>
                            <li><a href="/hp">Hp </a></li>
                            <li><a href="/lenovo">Levno </a></li>
                            <li><a href="/apple">Apple </a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordian" href="#mens">
                            <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                            Mobile
                        </a>
                    </h4>
                </div>
                <div id="mens" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li><a href="/nokia">Nokia</a></li>
                            <li><a href="/samsung">Samsung</a></li>
                            <li><a href="/vivo">Vivo</a></li>
                            <li><a href="/oppo">Oppo</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
            
        
        </div><!--/category-products-->
    
        <div class="brands_products"><!--brands_products-->
            <h2>Brands</h2>
            <div class="brands-name">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="/del"> <span class="pull-right">(03)</span>Dell</a></li>
                    <li><a href="/hp"> <span class="pull-right">(03)</span>Hp</a></li>
                    <li><a href="/lenovo"> <span class="pull-right">(01)</span>Lenovo</a></li>
                    <li><a href="/apple"> <span class="pull-right">(0)</span>Apple</a></li>
                    <li><a href="/nokia"> <span class="pull-right">(01)</span>Nokia</a></li>
                    <li><a href="/samsung"> <span class="pull-right">(01)</span>Samsung</a></li>
                    <li><a href="/vivo"> <span class="pull-right">(01)</span>Vivo</a></li>
                    <li><a href="/oppo"> <span class="pull-right">(01)</span>Oppo</a></li>
                </ul>
            </div>
        </div><!--/brands_products-->
        
        
        
        <div class="shipping text-center"><!--shipping-->
            <img src="images/home/shipping.jpg" alt="" />
        </div><!--/shipping-->
    
    </div>
</div>