
<form action="/students/create" method="post">
    <label class="form-item" for="name">Category:</label>
    <input class="form-control" type="text"  name='category'>
    <label class="form-item" for="price">Brand:</label>
    <input type="text" class="form-control"  name='brand'>
    <label class="form-item" for="name">Price:</label>
    <input class="form-control" type="text"  name='price'>
    <label class="form-item" for="price">descrption:</label>
    <input type="text" class="form-control"  name='descrption'>
    <label class="form-item" for="name">warrenty:</label>
    <input class="form-control" type="text"  name='warrenty'>
    <label class="form-item" for="price">year:</label>
    <input type="text" class="form-control"  name='year'>
   
    <br>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  